package components

templ Base() {
	<html>
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<script src="https://unpkg.com/htmx.org@1.9.10"></script>
			<script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
			<title>WebSocket Timer</title>
		</head>
		<body>
			<div id="watcher"></div>
			<button hx-get="/addTimer" hx-swap="beforeend" hx-target="#watcher">Add Timer</button>
		</body>
	</html>
}
